.recipes-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.recipes-header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: var(--dl-color-primary1-blue80);
}
.recipes-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.recipes-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.recipes-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.recipes-navlink {
  text-decoration: none;
}
.recipes-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

.recipes-burger-menu {
  display: none;
}
.recipes-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.recipes-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.recipes-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.recipes-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.recipes-logo {
  height: 2rem;
}
.recipes-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.recipes-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.recipes-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.recipes-text {
  margin-bottom: var(--dl-space-space-unit);
}
/* .recipes-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.recipes-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.recipes-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.recipes-text04 {
  margin-bottom: var(--dl-space-space-unit);
} */
.recipes-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.recipes-login {
  margin-right: var(--dl-space-space-twounits);
}
.recipes-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
/* .recipes-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
} */
.recipes-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.recipes-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.recipes-container1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.recipes-hero-heading {
  color: var(--dl-color-gray-white);
  width: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.6;
}
.recipes-search-ingredients {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 2px;
  justify-content: center;
}
.recipes-button {
  width: auto;
  align-self: center;
  padding-left: var(--dl-space-space-unit);
}
/* .recipes-text-inputs {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
} */
/* .recipes-calories {
  flex: 0 0 auto;
  width: 33%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
} */
.recipes-auto-width {
  width: auto;
}
/* .recipes-calories1 {
  width: auto;
} */
.recipes-time {
  flex: 0 0 auto;
  width: 352px;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
/* .recipes-calories2 {
  width: auto;
} */
.recipes-container2 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
}
.recipes-diet {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.recipes-title {
  align-self: center;
  text-align: center;
  padding-bottom: var(--dl-space-space-halfunit);
}
.recipes-balanced {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.recipes-checkbox {
  align-self: center;
}
.recipes-text05 {
  align-self: center;
}
.recipes-high-fiber {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.recipes-content-box {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.recipes-align-center {
  align-self: center;
}

.recipes-health {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.recipes-title1 {
  align-self: center;
  text-align: center;
  padding-bottom: var(--dl-space-space-halfunit);
}
.recipes-alcohol-cocktail {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}

/* .recipes-checkbox06 {
  align-self: center;
} */
/* .recipes-text11 {
  align-self: center;
} */
.recipes-alcohol-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox07 {
  align-self: center;
}
.recipes-text12 {
  align-self: center;
} */
.recipes-celery-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox08 {
  align-self: center;
}
.recipes-text13 {
  align-self: center;
} */
.recipes-crustacean-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox09 {
  align-self: center;
}
.recipes-text14 {
  align-self: center;
} */
.recipes-dairy-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox10 {
  align-self: center;
}
.recipes-text15 {
  align-self: center;
} */
.recipes-dash {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox11 {
  align-self: center;
}
.recipes-text16 {
  align-self: center;
} */
.recipes-egg-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox12 {
  align-self: center;
}
.recipes-text17 {
  align-self: center;
} */
.recipes-fish-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox13 {
  align-self: center;
}
.recipes-text18 {
  align-self: center;
} */
.recipes-fodmap-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox14 {
  align-self: center;
}
.recipes-text19 {
  align-self: center;
} */
.recipes-gluten-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox15 {
  align-self: center;
}
.recipes-text20 {
  align-self: center;
} */
.recipes-immuno-supportive {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox16 {
  align-self: center;
}
.recipes-text21 {
  align-self: center;
} */
.recipes-keto-friendly {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox17 {
  align-self: center;
}
.recipes-text22 {
  align-self: center;
} */
.recipes-kidney-friendly {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox18 {
  align-self: center;
}
.recipes-text23 {
  align-self: center;
} */
.recipes-kosher {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox19 {
  align-self: center;
}
.recipes-text24 {
  align-self: center;
} */
.recipes-low-fat-abs {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox20 {
  align-self: center;
}
.recipes-text25 {
  align-self: center;
} */
.recipes-low-potassium {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox21 {
  align-self: center;
}
.recipes-text26 {
  align-self: center;
} */
.recipes-low-sugar {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox22 {
  align-self: center;
}
.recipes-text27 {
  align-self: center;
} */
.recipes-lupine-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox23 {
  align-self: center;
}
.recipes-text28 {
  align-self: center;
} */
.recipes-mediterranean {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox24 {
  align-self: center;
}
.recipes-text29 {
  align-self: center;
} */
.recipes-mollusk-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox25 {
  align-self: center;
}
.recipes-text30 {
  align-self: center;
} */
.recipes-mustard-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox26 {
  align-self: center;
}
.recipes-text31 {
  align-self: center;
} */
.recipes-no-oil-added {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox27 {
  align-self: center;
}
.recipes-text32 {
  align-self: center;
} */
.recipes-paleo {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox28 {
  align-self: center;
}
.recipes-text33 {
  align-self: center;
} */
.recipes-peanut-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox29 {
  align-self: center;
}
.recipes-text34 {
  align-self: center;
} */
.recipes-pescatarian {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox30 {
  align-self: center;
}
.recipes-text35 {
  align-self: center;
} */
.recipes-pork-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox31 {
  align-self: center;
}
.recipes-text36 {
  align-self: center;
} */
.recipes-red-meat-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox32 {
  align-self: center;
}
.recipes-text37 {
  align-self: center;
} */
.recipes-sesame-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox33 {
  align-self: center;
}
.recipes-text38 {
  align-self: center;
} */
.recipes-shellfish-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox34 {
  align-self: center;
}
.recipes-text39 {
  align-self: center;
} */
.recipes-soy-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox35 {
  align-self: center;
}
.recipes-text40 {
  align-self: center;
} */
.recipes-sugar-conscious {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox36 {
  align-self: center;
}
.recipes-text41 {
  align-self: center;
} */
.recipes-sulfite-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox37 {
  align-self: center;
}
.recipes-text42 {
  align-self: center;
} */
.recipes-tree-nut-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox38 {
  align-self: center;
}
.recipes-text43 {
  align-self: center;
} */
.recipes-vegan {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox39 {
  align-self: center;
}
.recipes-text44 {
  align-self: center;
} */
.recipes-vegetarian {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox40 {
  align-self: center;
}
.recipes-text45 {
  align-self: center;
} */
.recipes-wheat-free {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox41 {
  align-self: center;
}
.recipes-text46 {
  align-self: center;
} */
.recipes-cuisine-type {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.recipes-title2 {
  align-self: center;
  text-align: center;
  padding-bottom: var(--dl-space-space-halfunit);
}
.recipes-american {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
/* .recipes-checkbox42 {
  align-self: center;
}
.recipes-text49 {
  align-self: center;
} */
.recipes-asian {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}

.recipes-dish-type {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.recipes-title3 {
  align-self: center;
  text-align: center;
  padding-bottom: var(--dl-space-space-halfunit);
}

/* .recipes-checkbox60 {
  align-self: center;
}
.recipes-text69 {
  align-self: center;
} */
.recipes-bread {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}

@media(max-width: 991px) {
  .recipes-hero {
    flex-direction: column;
  }
  .recipes-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }

  
}
@media(max-width: 767px) {
  .recipes-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .recipes-desktop-menu {
    display: none;
  }
  .recipes-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .recipes-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .recipes-text01 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .recipes-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .recipes-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .recipes-mobile-menu {
    padding: 16px;
  }
  .recipes-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .recipes-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
